.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400px;

}
.App-header{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 1vmin);
}
/* flex-wrap: if overflow of line row then it arrang it in below */
.Wrapper{
  display: flex;
  flex-wrap: wrap; 
  justify-content:center;
}
.Ingredient{
  width: 150px;
  height: 200px;
  border-radius: 8px;
  box-shadow:  0 1px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  transition: 0.3s ;
}

.Ingredient img{
  height: 80px;
  width: 100px;
  border-radius: 10px;
  margin:10px ;
  

}

.Ingredient:hover{
  width: 160px;
  height: 210px;

}

.Ingredient p{
  margin: 0;
  font-size: 10px;
}

.Ingredient span{
  font-size: 14xp;
}

.Steps{
  overflow-y: scroll;
  position: relative;
  top: 30px;
  visibility: hidden;
  transition: 0.3s;
  opacity: 0;
}

.Ingredient:hover .Steps{
  visibility: initial;
  top: 0px;
  opacity: 1;
}
.InputWrapper input{
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding:10px ;
  margin: 20px;
  border:0;
  box-shadow:  0 1px 4px 0 rgba(0, 0, 0, 0.5); 
}

.InputWrapper button{
  height: 40px;
  width: 80px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}